<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://sql6.freemysqlhosting.net:3306/sql6510788</property>
        <property name="connection.username">sql6510788</property>
        <property name="connection.password">IJrpzReImC</property>


        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <mapping class="com.mycompany.easyjob.Controller.entity.UserTable"/>
        <mapping class="com.mycompany.easyjob.Controller.entity.JobTable"/>
        <mapping class="com.mycompany.easyjob.Controller.entity.ApplicationTable"/>
        <mapping class="com.mycompany.easyjob.Controller.entity.ShortlistedApplicatiionTable"/>
    </session-factory>
</hibernate-configuration>